<!DOCTYPE html>
<html>
    <head>
        <title>Sales Application</title>
    </head>
    <body>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
              <button mat-icon-button>
                <mat-icon class="glow">people</mat-icon>
              </button>
              <h1 >Summary</h1>
              <span class="menu-spacer"></span>
              
            </mat-toolbar-row>
          
            <mat-toolbar-row>
                <h3 style="font-size: 17px;">Let's</h3>
              </mat-toolbar-row>
          </mat-toolbar>
          <mat-card style="text-align: center;" class="myCard">
            <button (click)="Users()"><a>View Predictors</a></button>
           
          </mat-card>
          </body>
    </html>